@font-face {
  font-family: "GT America Light";
  src: url("../assets/Fonts/GT-America-Standard-Light.ttf");
  font-display: block;
}
@font-face {
  font-family: "GT America Medium";
  src: url("../assets/Fonts/GT-America-Standard-Medium.ttf");
  font-display: block;
}
